In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
fato_avaliacao = pd.read_csv('data/CSVs/avaliacao.csv')
calendario = pd.read_csv('data/CSVs/calendario.csv')
endereco = pd.read_csv('data/CSVs/endereco.csv')
filme = pd.read_csv('data/CSVs/filme.csv')
produtora = pd.read_csv('data/CSVs/produtora.csv', sep=';')
fato_receita = pd.read_csv('data/CSVs/receita.csv')
usuario = pd.read_csv('data/CSVs/usuario.csv')

In [5]:
fato_avaliacao

,avaliacaosk,nota,usuariosk,filmesk,produtorask,calendariosk,enderecosk
0,19468,4,819,114,8,40,10
1,6034,4,348,114,8,71,67
2,19032,2,1450,114,8,90,29
3,5061,3,1054,114,8,117,67
4,16015,3,677,114,8,141,2
...,...,...,...,...,...,...,...
19995,17181,4,1587,425,14,971,4
19996,3134,5,319,425,14,1002,10
19997,3913,3,1640,425,14,1013,4
19998,4120,3,1056,425,14,1075,33
19999,13296,5,1960,425,14,1077,2