In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
endereco

   enderecosk          estado
0           1          Hawaii
1           2          Oregon
2           3        Delaware
3           4          Kansas
4           6            Ohio
5           7   West Virginia
6           8           Idaho
7          10         Vermont
8          11        Nebraska
9          12       Minnesota
10         14           Texas
11         15        Missouri
12         17        Oklahoma
13         18         Florida
14         19        Colorado
15         20        Kentucky
16         21         Georgia
17         22     Mississippi
18         23    Rhode Island
19         25       Louisiana
20         28  South Carolina
21         29       Wisconsin
22         32         Indiana
23         33      New Mexico
24         35    North Dakota
25         36        Illinois
26         38  North Carolina
27         39        Maryland
28         40         Wyoming
29         41         Montana
30         42       Tennessee
31         53      California
32         61    Pennsylvania
33         62          Alaska
34         67    South Dakota
35         68        Virginia
36         72   Massachusetts
37         75           Maine
38         76        Michigan
39         78   New Hampshire
40         80      Washington
41         84            Utah
42        100          Nevada
43        118      New Jersey
44        124        Arkansas
45        125         Arizona
46        134     Connecticut
47        151            Iowa
48        156        New York
49        217         Alabama
50  (50 rows)             NaN

In [2]:
fato_avaliacao = pd.read_csv('data/CSVs/avaliacao.csv')
calendario = pd.read_csv('data/CSVs/calendario.csv')
endereco = pd.read_csv('data/CSVs/endereco.csv')
filme = pd.read_csv('data/CSVs/filme.csv')
produtora = pd.read_csv('data/CSVs/produtora.csv')
fato_receita = pd.read_csv('data/CSVs/receita.csv')
usuario = pd.read_csv('data/CSVs/usuario.csv')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 4, saw 3

In [7]:
movies

,name,duration,release_year,rating,rating_count,genres,production_companies,img_url,directors,actors,similar_movies,id
0,Harakiri,133,1964,8.6,83304,"[drama, mystery]",[co0007001],https://m.media-amazon.com/images/M/MV5BZThiZj...,[nm0462030],"[nm0619938, nm0410968, nm0412615, nm0848533, n...","[tt0047478, tt0027977, tt0095765, tt0021749, t...",tt0056058
1,The Matrix,136,1999,8.7,2189795,"[action, sci-fi]","[co0002663, co0108864, co0060075]",https://m.media-amazon.com/images/M/MV5BN2NmN2...,"[nm0905154, nm0905152]","[nm0000206, nm0000401, nm0005251, nm0915989, n...","[tt0137523, tt0109830, tt1375666, tt0110912, t...",tt0133093
2,Star Wars: Episode IV - A New Hope,121,1977,8.6,1533237,"[action, adventure, fantasy]","[co0071326, co0000756]",https://m.media-amazon.com/images/M/MV5BOGUwMD...,[nm0000184],"[nm0000434, nm0000148, nm0000402, nm0000027, n...","[tt0080684, tt0086190, tt0121766, tt0120915, t...",tt0076759
3,City Lights,87,1931,8.5,209894,"[comedy, drama, romance]",[co0028083],https://m.media-amazon.com/images/M/MV5BYmMwZD...,[nm0000122],"[nm0000122, nm0156039, nm5681967, nm0616729, n...","[tt0027977, tt0032553, tt0047396, tt0056058, t...",tt0021749
4,One Flew Over the Cuckoo's Nest,133,1975,8.7,1132295,[drama],"[co0066949, co0046377]",https://m.media-amazon.com/images/M/MV5BYjBkMj...,[nm0001232],"[nm0000197, nm0001221, nm0077720, nm0110480, n...","[tt0102926, tt0050083, tt0108052, tt0099685, t...",tt0073486
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Jumanji: Welcome to the Jungle,119,2017,6.9,488812,"[action, adventure, comedy]","[co0050868, co0332017, co0023815]",https://m.media-amazon.com/images/M/MV5BZjI5Mz...,[nm0440458],"[nm0425005, nm2394794, nm0366389, nm0085312, n...","[tt7975244, tt1489889, tt7991608, tt1270797, t...",tt2283362
96,Donnie Brasco,127,1997,7.7,349055,"[biography, crime, drama]","[co0033437, co0038108, co0013696]",https://m.media-amazon.com/images/M/MV5BZWZkND...,[nm0001565],"[nm0000199, nm0000136, nm0000514, nm0456124, n...","[tt0106519, tt1302006, tt0105323, tt0106489, t...",tt0119008
97,Mad Max: Fury Road,120,2015,8.1,1182678,"[action, adventure, sci-fi]","[co0002663, co0227121, co0351258]",https://m.media-amazon.com/images/M/MV5BZDRkOD...,[nm0004306],"[nm0362766, nm0000234, nm0396558, nm2368789, n...","[tt12037194, tt3315342, tt0325980, tt7286456, ...",tt1392190
98,Despicable Me 2,98,2013,7.3,450010,"[animation, adventure, comedy]","[co0005073, co0221986]",https://m.media-amazon.com/images/M/MV5BMTQxNz...,"[nm1853544, nm0719208]","[nm0136797, nm1325419, nm0000973, nm1388927, n...","[tt1323594, tt3469046, tt2293640, tt7510222, t...",tt1690953
99,Peacock King,86,1988,6.1,487,"[action, adventure, fantasy]","[co0015592, co0064457]",https://m.media-amazon.com/images/M/MV5BODRmMz...,"[nm0482670, nm0950707]","[nm0950707, nm0586345, nm0946642, nm0948124, n...","[tt0092254, tt0098971, tt0081499, tt0085953, t...",tt0093367